name: Artisan Down

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  down:
    runs-on: self-hosted #hola

    steps:
      - name: Ejecutar PHP Artisan Down
        run: |
          cd C:\laragon\www\mar
          php artisan down
